<div class="info-main-layer">
  <aui-lib-info-title [title]="'@aui/text-input'"></aui-lib-info-title>
  <aui-lib-info-desc [desc]="desc" ></aui-lib-info-desc>
  <div class="example">
    <div class="example-item">
      <aui-text-input [icon]="icon"
                      [value]="defaultValue"
                      [label]="label"
                      [tail]="tail"
                      [disable]="false"
                      (tailClicked)="tailClick($event)"
                      (valueChanged)="value = $event" [validateHelper]="vh" (validated)="validEmit($event)" #input></aui-text-input>
    </div>
    {{value}}
  </div>
  <div class="usage">
    <aui-lib-info-usage [markdown]="'icon'"></aui-lib-info-usage>
  </div>
</div>
