<div class="info-main-layer">
  <aui-lib-info-title [title]="'@aui/text-input'"></aui-lib-info-title>
  <aui-lib-info-desc [desc]="desc" ></aui-lib-info-desc>
  <div class="example">
    <div class="example-item">
      <aui-text-input [icon]="icon"
                      [value]="defaultValue"
                      [readonly]="false"
                      [label]="label"
                      [tail]="tail"
                      [disable]="false"
                      [type]="type"
                      (tailClicked)="tailClick($event)"
                      (valueChanged)="value = $event"
                      [validateHelper]="vh"
                      (validated)="validEmit($event)"
                      [isWholeActive]="activeStyle"
                      (click) = "doClick()"
                      #input></aui-text-input>
    </div>
    <div class="example-item">
      <aui-button [disable]="true" (mouseClick)="buttonClick()" [label]="'hello world'"
                  [isActive]="newStyle" [iconObj]="icon"></aui-button>
    </div>
    <div class="example-item">
      <aui-selector>
        <aui-option>
          <div >
            hhhhh
          </div>
        </aui-option>
        <aui-option>
          <div >
            sssss
          </div>
        </aui-option>
        <aui-option>
          <aui-text-input [label]="test" [value]="''"></aui-text-input>
        </aui-option>
      </aui-selector>
    </div>
  </div>
  <div class="usage">
    <aui-lib-info-usage [markdown]="'icon'"></aui-lib-info-usage>
  </div>
</div>
